<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="smtp" value="smtp.126.com"/>
    <add key ="smtpport" value="25"/>
    <add key ="imap" value="imap.126.com"/>
    <add key="imapport" value="143"/>
    <!--是否启用完全协议-->
    <add key="ssl" value="true"/>
    <add key="mailaddress" value="qyweiyy@126.com"/>
    <add key="mailpassword" value="asdf123456"/>
    <!--获取待发送邮件-->
    <add key="getmailapi" value="http://localhost:89/api/Andon/EMailMsgQueue/GetWillSendMail"/>
    <!--设置已获取的邮件为待发送状态-->
    <add key="sendingmailapi" value="http://localhost:89/api/Andon/EMailMsgQueue/EditSendingMail"/>
    <!--设置已获取的邮件为发送完成-->
    <add key="sendedmailapi" value="http://localhost:89/api/Andon/EMailMsgQueue/EditSendedMail"/>
    <!--是否检查发送中的邮件-->
    <add key="checksending" value="false"/>
    <!--从服务器获取待发送邮件的间隔时间（秒）-->
    <add key="readtime" value="3"/>
    <!--从服务器获取待发送邮件的间隔时间（分）-->
    <add key="sendtime" value="3"/>
    <!--日报产生时间（H）-->
    <add key="dailyreport" value="10"/>
    <!--日报-->
    <add key="dailyreportapi" value="http://localhost:89/api/andon/exceptionrecord/Getdataanalysisinmonth?TenantId=44ba9c68-2eaa-4ec1-b0ea-34440224aad8"/>
    <!--工厂ID或车间ID-->
    <!--<add key="MsgId" value="03F900BD-2ED9-4E0A-A854-0335DF0B896E"/>-->
    <add key="MsgId" value="08a0f981-6039-4ef3-9b87-f70a29d38a67"/>
  </appSettings>
</configuration>